{% extends 'base.html' %}
{% load staticfiles %}
        {% block body_block %}
        {% if categories %}
              <ul>

                  {% for category in categories %}
                  <li><a href="{% url 'category'  category.slug %}">{{ category.name }}</li>
                  {% endfor %}

              </ul>
          {% else %}
              <strong>There are no categories present.</strong>
          {% endif %}


          <h3>Top 5 viewed</h3>
        {% if categories_views %}
              <ol>
                  {% for category in categories_views %}
                  <li><a href="{% url 'category' category.slug %}">{{ category.name }}</li>
                  {% endfor %}
              </ol>
        {% endif %}
        
        <img src="{% static "images/imgres.jpg" %}" alt="Picture of Rango" />
        {% endblock %}
