<!DOCTYPE html>
{% load staticfiles %}

<html>

    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Rango says...hello world!</h1>
        {% if categories %}
              <ul>
                
                  {% for category in categories %}
                  <li><a href="/rango/category/{{ category.slug }}">{{ category.name }}</li>
                  {% endfor %}
                  
              </ul>
          {% else %}
              <strong>There are no categories present.</strong>
          {% endif %}
          
          
          <h3>Top 5 viewed</h3>
        {% if categories_views %}
              <ol>
                  {% for category in categories_views %}
                  <li><a href="/rango/category/{{ category.slug }}">{{ category.name }}</li>
                  {% endfor %}
              </ol>
        {% endif %}
        <a href="/rango/about/">About</a><br />
        <img src="{% static "images/imgres.jpg" %}" alt="Picture of Rango" />
        <a href="/rango/add_category/">Add a New Category</a><br />
    </body>

</html>
